*{
    margin:0;
    padding:0;
}

.contentSections{
    background-color: #FFF1F3;
    height: 400px;
}

.inputsecion{
    max-width: 430px;
    margin:0 auto;
   

}

.myinputs{
    margin:0 auto;

}

.firstbutton{
    color:#ffff;
    border-radius: 20px;
    background-color: #E35D86;
}

.dropdown-toggle-split{
    background-color: #E35D86;

}

.secondButton{

    background-color: #E35D86;
    color:#ffff;
    border-radius: 20px;
    float: right;

}

.myinput{

    border-radius: 20px !important;
}



