*{
    margin:0;
    padding:0;
}

.flex-container{ 

    display:flex;
    justify-content:stretch;
}





.flexbox-item{
     
    width: 200px;
    border:1px solid rgba(0, 0, 0, 0.867);

}




.flex-item-1{
min-height: 200px;

}


.flex-item-2{
    min-height: 300px;


}



.flex-item-3{
    min-height: 300px;


}











.contentSections{
    background-color: #FFF1F3;
    height: 400px;
}

.inputsecion{
    max-width: 430px;
    margin:0 auto;
    position: relative;
   

}

.myinputs{
    margin:0 auto;

}

.firstbutton{
    color:#ffff;
    border-radius: 20px;
    background-color: #E35D86;
}

.dropdown-toggle-split{
    background-color: #E35D86;

}

.secondButton{

    background-color: #E35D86;
    color:#ffff;
    border-radius: 20px;
    float: right;


}

.myinput{

    border-radius: 20px !important;
    border:1px solid black;


}

.logoSection{

    max-width: 70px;

}



