*{
    
 font-family: sans-serif;

}



.outer{

    background-color: skyblue;
    height: 300px;
    width: 350px;
    position:relative;
    top: 200px;
}

.inner{
    background-color: blueviolet;
    height: 40px;
    width:40px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

